{%extends "registration/base.html"%} {% load bootstrap4 %} 
{% load static%}
{% block content %}
<div class="container-fluid login" style="background-image:url('/static/img/bg2.jpeg');height: 100vh; background-position: center; background-size: cover; position: center; ">
    <div class="row  ">

            {% if form.errors %}
                <p> Password or Username is incorrect </p>
            {% endif %}
        </div>
        <div class=" col-md-4 box" style="margin-top: -5%; position:absolute; left: 50%; transform: translate(-50%,50%);width: 400px; height: 350px; background: rgba(0,0,0,0.5); box-sizing: border-box; box-shadow: 0 15px 25px rgba(0,0,0,0.5)" >
                <div class="card-body" >
                    <h3 class="card-title text-center" style="font-family: 'Skranji', cursive; color: white;">Login</h3><hr style="border-color: white">
                    <form action="/accounts/login/" method="post">
                        {% csrf_token %} {% bootstrap_form form layout='inline'%}
                        <div class="form-group">
                            <input type="submit" class="btn btn-outline-info"  value="Login">
                        </div>
            
                        <input type="hidden" name="next" value="{{next}}">
                    </form>
                    <div class="card-footer">
                        <p>Don't have an account yet? <a href="/accounts/register/">Sign up</a></p>
                    </div>
                </div>
                
            </div>
        </div>
</div>

{% endblock %}