{% extends 'base.html' %}

{{block.super}}
{% block content%}

<div class="container">
    <div class="box" style="margin-bottom: 20px; margin-top: 20px position: fixed;">
        <a href="{%url 'new_post' %}" class="btn btn-outline-info"> New Post</a>
        <a href="{%url 'edit_profile' %}" class="btn btn-outline-success"> Edit Profile</a>
      </div>


      {% for image_item in pics %}


        <div class="justify-content-center col-xs-3 col-sm-3 col-md-3 col-lg-6" style="height: 500px;width: 500px; padding: 0px; margin: 0px; align-items: center">

          <div class="card">

            <div class="card-body">
              <a href="{{image_item.image.url}}" data-lightbox="gallery">
              <img class="card-img-top" src="{{image_item.image.url}}" alt="Card image cap" style="min-height: 100%; width=auto;"></a>
            </div>
            <div class="card-footer">
              <p class="card-text">{{image_item.caption}}</p>
              <button class="btn btn-outline-info">Comment</button>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>

{% endblock %}