{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="container">
      <h3>Suggested for you</h3>
    <div class="row">
      {% for image_item in pics %}


        <div class="justify-content-center col-xs-3 col-sm-3 col-md-3 col-lg-6">

          <div class="card" style="width: 18rem;">
            <a href="{{image_item.image.url}}" data-lightbox="gallery">
              <img class="card-img-top" src="{{image_item.image.url}}" alt="Card image cap">
            </a>
            <div class="card-body">
              <h3 class="card-title">{{image_item.name.capitalize}}</h3>
              <p class="card-text">{{image_item.description}}</p>
              <button class="btn btn-outline-info">Comment</button>

            </div>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>

{% endblock %}